---
import { Image } from "astro:assets";
import { cn } from "../../lib/tailwind";
import linkSvg from "~/assets/svgs/link.svg";

type Props = {
  href: string;
  text: string;
  ariaLabel: string;
  className?: string;
};

const { href, text, ariaLabel, className } = Astro.props;
---

<a
  class={cn(
    "bg-blue-600 rounded-lg px-2 py-1.5 font-bold text-xl flex justify-between flex-1 align-middle",
    className
  )}
  href={href}
>
  <span>
    {text}
  </span>
  <Image
    src={linkSvg}
    class="w-3 h-fit my-auto text-blue-600 fill-blue-600"
    alt={`link to goto ${ariaLabel}`}
  />
</a>
