---
import { Image } from "astro:assets";
import { cn } from "../../lib/tailwind";
import linkDiaSvg from "~/assets/svgs/link-dia.svg";
import linkSvg from "~/assets/svgs/link.svg";

type Props = {
  text: string;
  ariaLabel: string;
  className?: string;
};

const { text, ariaLabel, className } = Astro.props;
---

<button
  class={cn(
    "rounded-lg px-2 py-1.5 font-bold text-xl flex justify-center gap-4 flex-1 align-middle",
    className
  )}
  onclick="toast.show('OFC is not public, you silly goose~')"
>
  <span>
    {text}
  </span>

  <Image
    src={linkDiaSvg}
    class="w-6 h-fit my-auto"
    alt={`link to goto ${ariaLabel}`}
  />
</button>
