---
import { cn } from "~/lib/tailwind";

type Props = {
  text: string;
  className?: string;
};

const { text, className } = Astro.props;
---

<p class={cn("text-center px-8", className)}>{text}</p>
